# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


*/build/*
*.swp

# OS X stuff
._*


# Data set 
data/*

# Trained models and texification file
*.bin
*.txt
*.emb
*.edgelist

# Byte-compiled / optimized / DLL files
*/__pycache__/
*.pyc

.DS_Store

# Node2Vec 
*.edgelist
*.emb
.gradle
*.iml
*.ipr
*.iws
*.log
.classpath
.project
.settings
.idea


# plots 
*.png
